<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gef.tutorial.step.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="gef.tutorial.step.Perspective"
            id="gef.tutorial.step.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gef.tutorial.step.ui.MyGraphicalEditor"
            default="false"
            icon="icons/ico_editor.gif"
            id="gef.tutorial.step.editor"
            name="MyEditor">
      </editor>
   </extension>

</plugin>
